<!-- FLOWER INDEX -->
<table class="center">
  <caption>Flowers</caption>
  <tr id="style">
    <td id="name">Name:</td>
    <td id="origin">Origin:</td>
    <td id="quantity">Quantity:</td>
    <td id="edit">Edit:</td>

    <% for flowers in @flowers %>
    <tr id="style-1">
      <td id="fname"> <%= flowers.flower_name %></a> </td>
        <td> <%= Origin.find(flowers.origin_id).origin_name%></a> </td>
      <td> <%= flowers.quantity %></a> </td>
    <td> <a href="/flowers/<%=flowers.id%>/edit">change</a> </td>
    </tr>

  <% end %>
</table>
