
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style_css/structure.css">
  <title>Flora's Secret</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/stock">Stock</a></li>
    <li><a href="/plants">Plants</a></li>
    <li><a href="/flowers">Flowers</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
